{erl_opts, [debug_info]}.
{deps, []}.
{plugins, [atomvm_rebar3_plugin]}.
{profiles, [
    {check, [
        {plugins, [erlfmt]}
    ]},
    {doc, [
        {plugins, [rebar3_ex_doc]}
    ]}
]}.
{ex_doc, [
     {extras, ["README.md", "LICENSE"]},
     {main, "README.md"},
     {source_url, "https://github.com/pguyot/atomvm_esp_adf"}
]}.
